.editSpanWrapper {
  display: block;
  width: 100%;
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 14px;

  .icon {
    margin-left: 12px;
    cursor: pointer;
  }
}