@import '../../../scss/variables';

.container {
  width: 100%;
  background-color: $bg-color;

  .formWrapper {
    margin: 40px auto;
    width: 413px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 35px 33px 42px;
    background-color: #FFFFFF;

    .title {
      text-align: center;
      font-weight: 600;
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 40px;
    }

    .question {
      margin-top: 30px;
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #000000;
      opacity: 0.5;
    }

    .signUp {
      display: inline-block;
      width: 100%;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;

      transition: all .3s ease-in-out;

      & > a {
        color: #366EFF;

        &:hover {
          text-decoration-line: underline;
        }
      }

      &.isDisabled {
        pointer-events: none;
        cursor: default;
      }
    }
  }
}