.tableContainer {
  margin-top: 24px;
  margin-bottom: 30px;

  .titles {
    background: #efefef;
    padding: 16px 32px;
    height: 59px;
    display: grid;
    grid-template-columns: 2.2fr 2fr 1.8fr 1.4fr 0.7fr;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1))
      drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.1));
    border: 1px solid #d9d9d9;

    .menuBox {
      display: flex;
      align-items: center;
    }

    & > span {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
    }
  }

  .packs {
    .skeleton {
      display: grid;
      height: 52px;
      grid-template-columns: 2.2fr 2fr 1.8fr 1.4fr 0.7fr;
      border-right: 1px solid #d9d9d9;
      border-left: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;

      .skeletonItem {
        padding-right: 10px;
      }
    }

    .pack {
      display: grid;
      grid-template-columns: 2.2fr 2fr 1.8fr 1.4fr 0.7fr;
      justify-items: flex-start;
      align-items: center;
      height: 59px;
      padding: 8px 32px;
      border-right: 1px solid #d9d9d9;
      border-left: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;

      .coverAndNameBox {
        display: flex;
        align-items: center;

        &:hover.hover {
          cursor: pointer;

          & > span {
            font-weight: 600;
          }
        }
      }

      span {
        display: block;
        max-width: 230px;
        padding-right: 10px;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        overflow: hidden;
        white-space: nowrap;
        color: #000000;
        text-overflow: ellipsis;
      }

      .userName {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        max-width: 220px;
        overflow: hidden;
        white-space: nowrap;
        color: #000000;
        text-overflow: ellipsis;
      }

      .iconsBox {
        display: flex;
        justify-content: flex-start;

        .disabled {
          color: rgba(0, 0, 0, 0.4);
          pointer-events: none;
        }

        & svg {
          margin-right: 10px;
          cursor: pointer;
          color: #000000;
          width: 18px;
          height: 18px;
          border-radius: 50%;

          &:hover {
            transform: scale(1.08);
          }
        }
      }
    }
  }
}

.notFound {
  text-align: center;
  margin: 100px 0;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

.disabled {
  pointer-events: none;
}
