.backArrowWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000000;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  & > span {
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}