.common {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all .2s ease;
  text-align: left;

  label {
    display: block;
    color: #000000;
    opacity: 0.5;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    .input {
      outline: none;
      border: none;
      background-color: transparent;
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #000000 !important;
      opacity: 1;
    }
  }
}