.cardModal {

  .topText {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 10px;
  }
}

.buttonsBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.titleAndButtonBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}