@import '../../../scss/variables';

.container {
  position: relative;
  width: 100%;
  background-color: $bg-color;
  padding: 40px 136px;

  .backArrowWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    & > span {
      margin-left: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .title {
    width: 100%;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
  }

  .questionAndAnswersBox {
    margin: 40px auto;
    width: 413px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 35px 33px 42px;
    background-color: #ffffff;

    .questionAndAnswerInfo {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 14px;

      & > span {
        word-break: break-all;
      }

      & > span:nth-child(1) {
        font-weight: 600;
        margin-right: 5px;
      }
    }

    .attempts {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
      opacity: 0.5;
      margin-bottom: 28px;
    }

    .gradesTitle {
      margin-bottom: 16px;
    }
  }
}
