.cardsTable {
  margin-top: 24px;
  margin-bottom: 30px;

  .titles {
    background: #efefef;
    padding: 16px 32px;
    display: grid;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1))
      drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.1));
    grid-template-columns: 2fr 2fr 1fr 1fr;
    border: 1px solid #d9d9d9;

    & > span {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
    }

    .iconsBox {
      & svg {
        margin-right: 14px;
        cursor: pointer;
        width: 16px;
        height: 16px;
        color: #000000;
      }
    }
  }

  .myTitles {
    background: #efefef;
    padding: 16px 32px;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1))
      drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.1));
    border: 1px solid #d9d9d9;

    & > span {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      max-width: 400px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .iconsBox {
      & svg {
        margin-right: 14px;
        cursor: pointer;
        width: 16px;
        height: 16px;
        color: #000000;
      }
    }
  }

  .myCards {
    .myCard {
      display: grid;
      grid-template-columns: 2fr 2fr 1fr 1fr 0.5fr;
      align-items: center;
      padding: 8px 32px;
      height: 59px;
      border-right: 1px solid #d9d9d9;
      border-left: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;

      & > span {
        display: block;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        max-width: 350px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .iconsBox {
        display: flex;
        align-items: center;

        & > svg {
          margin-right: 10px;
          cursor: pointer;
          width: 18px;
          height: 18px;
          color: #000000;
          border-radius: 50%;

          &:hover {
            transform: scale(1.08);
          }
        }
      }
    }
  }

  .cards {
    .card {
      display: grid;
      grid-template-columns: 2fr 2fr 1fr 1fr;
      align-items: center;
      padding: 8px 32px;
      height: 59px;
      border-right: 1px solid #d9d9d9;
      border-left: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;

      & > span {
        display: block;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        max-width: 350px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.disabled {
  pointer-events: none;
}
