.buttonsBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;

}


.question {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  .packName {
    font-weight: 600;
  }
}
